---
---

@import "{{ site.theme }}";

.page-header {
  background-image: url("/assets/images/thalatta.jpeg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;

  // Fallback
  background-color: #b6daff;
}